/node_modules
/.tmp
/.sass-cache
/bower_components
*.log
*.bjs

/.firebase/*.cache
/**/node_modules/
lib-cache/
# dist

# psm
.gitpsm/
psm.sh

packages/*

.npmrc
build
.tmp
# junit.xml

compiled/**/*.js
compiled/**/*.js.map
**/ts/**/*.js
**/ts/**/*.js.map